@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body,
html{
    overflow-x: hidden;
}

/* footer{
    position: absolute;
    bottom: 0;
    width: 100%;
} */

aside{
    width: 60px;
    transition: width .3s linear;
    cursor: pointer;
    position: absolute;
    right: 0;
}

aside:hover{
    width: 180px;
}

.image-logo{
    width: 150px;
}

.drop::before{
    content: '';
    position: absolute;
    right: -15px;
    bottom: 50%;

    display: inline-block;
    vertical-align: middle;
    width: 0; 
    height: 0; 
  
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #6C757D;
}

.drop ul{
    right: 0;
    width: 100px;
    z-index: 2;
}

.btn-menu{
    position: absolute;
    left: -15px;
    top: 0;
    font-size: 20px;
}

.image-user{
    width: 120px;
    height: 120px;
}

.image-user img{
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.image-user div{
    width: 30px;
    height: 30px;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

#formulario-imagen{
    top: 0;
    left: 0;
}

#formulario-imagen > i{
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 16px;
    margin: 1rem;
}

.animacaoEntrada{
    animation: animacaoEntrada .5s linear forwards;
}

.animacaoSaida{
    animation: animacaoSaida .5s linear forwards;
}

.opacidade{
    animation: opacidade .4s linear forwards;
}

.opacidadeReversa{
    animation: opacidadeReversa .4s linear forwards;
}

.header-list{
    font-size: .8em;
    color: #7a7a7a;
}

.rotate{
    animation: rotate .4s linear forwards;
}

.rotateReverse{
    animation: rotateReverse .4s linear forwards;
}

.dawn{
    animation: dawn .4s linear forwards;
}

.dawnReverse{
    animation: dawnReverse .4s linear forwards;
}

@keyframes animacaoEntrada {
    0%{
        opacity: 0;
        transform: translateY(-400px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animacaoSaida {
    0%{
        opacity: 1;
        transform: translateX(0);
    }
    100%{
        opacity: 0;
        transform: translateX(-400px);
    }
}

@keyframes opacidade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes opacidadeReversa {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(180deg);
    }
}

@keyframes rotateReverse {
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0);
    }
}

@keyframes dawn {
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes dawnReverse {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(-30px);
    }
}

/* ////////// MEDIA SCREEN ///////// */
@media only screen and (max-width: 770px){
    aside{
        right: -60px;
    }
}